:root{
    --theme-boxes-heading: white;
    --background : #08080c;
    --theme-boxes : black;
    --ring-color : #22d3ee;
    --settings-boxes : #161620b8;
    --main : #7c3aed;
    --button-bg: #7c3aed;
    --text-color: #b197fc;
    --low-text: rgb(167, 167, 167);
    --nav-text: #f5f5f5;
    --hover-panel: #242433;
    --edit-border: rgba(255, 255, 255, 0.14);
}
[data-theme="light-theme"]{
    --ring-color : #2563eb;
    --background : #f5f4f2;
    --box-border : gray;
    --settings-boxes : white;
    --theme-boxes: white;
    --theme-boxes-heading: black;
    --button-bg: #080808;
    --text-color: black;
    --nav-text: black;
    --hover-panel: white;
    --edit-border: rgba(0, 0, 0, 0.14);
}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    background-color: var(--background);
    height: 600px;
    width: 400px;
    color: var(--text-color);
}
.settings-page nav{
    color: var(--nav-text);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px 12px;
    padding-top: 8px;
}
nav .first-part{
    display: flex;
    align-items: center;
    gap: 16px;
}
.green-dot{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #39FF14;
}
.second-part{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.version-number{
    font-family: monospace;
}
.back-icon{
    stroke: var(--nav-text);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.separator{
    background-color: gray;
    height: 1px;
    width: 100%;
}
.theme-selector{
    margin-top: 16px;
}
.theme-boxes{
    margin-top: 8px;
    display: flex;
    gap: 12px;
    padding: 0px 8px;
}
.theme-boxes > div{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 6px;
    border: 1px solid var(--theme-boxes);
    /* box-shadow: 0 0 0 1px gray; */
    background-color: var(--theme-boxes);
    border-radius: 6px;
    min-width: 160px;
    cursor: pointer;
    position: relative;
}
.theme-boxes > div p{
    color: var(--theme-boxes-heading);
    font-size: 0.8rem;
    
}
.theme-boxes > div .low-part{
    font-weight: normal;
    color: var(--low-text);
}
.colors{
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 12px;
}
.light-theme .colors{
    background-color: white;
}
.dark-theme .colors{
    background: radial-gradient(80% 80% at 20% 0%, rgba(124, 58, 237, 0.4), transparent 60%), radial-gradient(80% 80% at 100% 0%, rgba(34, 211, 238, 0.3), transparent 55%) rgb(11, 11, 18);
}
.line1{
    height: 8px;
    width: 65%;
    border-radius: 3px;
}
.line2{
    width : 95%;
    height: 6px;
    border-radius: 2px;
}
.line3{
    width: 75%;
    height: 5px;
    border-radius: 2px;
}
.dark-theme .line1{
    background-color: #7c3aed;
}
.light-theme .line1{
    background-color: black;
}
.dark-theme .line2{
    background-color: rgb(37, 37, 37);
}
.light-theme .line2{
    background-color: rgb(232, 232, 232);
}
.light-theme .line3{
    background-color: rgb(218, 218 , 218);
}
.dark-theme .line3{
    background-color: rgb(26, 26, 26);
}
.selected-mark{
    position: absolute;
    top: 6px;
    right: 6px;
    padding: 0px 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.selected-mark svg{
    width: 15px;
    stroke: white;
}
.selected-mark{
    background-color: var(--ring-color);
}
.selected-theme .selected-mark{
    visibility: visible;
}
.main-settings{
    padding: 0px 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.theme-selector p{
    font-weight: bold;
}
.theme-selector > p, .main-settings > .heading, .about-section > .heading, .scripts-settings > .heading, .live-edit-settings > .heading{
    text-transform: uppercase;
    font-family: monospace;
    font-size: 1rem;
    color: gray;
    font-weight: bold;
    margin-bottom: 8px;
}
.main-settings .settings{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 12px;
    background-color: var(--settings-boxes);
}
.live-edit-settings .settings{
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 12px;
    background-color: var(--settings-boxes);
    margin-bottom: 12px;
}
.live-edit-group .setting{
    border-bottom: 1px solid gray;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.live-edit-group-heading{
    margin-top: 10px;
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
}
.main-settings .setting{
    border-bottom: 1px solid gray;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.scripts-settings .settings{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 12px;
    background-color: var(--settings-boxes);
    margin-bottom: 16px;
}
.scripts-settings .setting{
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.scripts-settings .red .heading{
    color: rgb(255, 20, 20);
}
.scripts-settings .red .second-part{
    color: rgb(255, 20, 20);
    background-color: var(--background);
    border: 1px solid gray;
    border-radius: 4px;
    padding: 4px 6px;
    display: flex;
    align-items: center;
    gap: 4px;
    width: fit-content;
    cursor: pointer;
    height: fit-content;
}
.scripts-settings .setting .low-part{
    font-size: 0.9rem;
}
.settings-page .main-settings:last-child{
    border: none;
}
.setting .first-part .heading{
    font-weight: bold;
}
.setting .first-part .low-part{
    font-size: 0.9rem;
    color: var(--low-text);
}
.setting .second-part .circle{
    background-color: var(--background);
    width: 8px;
    height: 8px;
    border-radius: 4px;
    position: relative;
}
.setting .second-part{
    cursor: pointer;
    border: none;
    border-radius: 4px;
    height: 10px;
    padding: 1px;
    width: 24px;
    background-color: var(--button-bg);
}
.setting .toggle_on .circle{
    background-color:  var(--ring-color);
    left: 14px;
}
.about-section .about-box{
    background-color: var(--settings-boxes);
    padding: 16px 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
.about-box .first-part{
    display: flex;
    flex-direction: column;
}
.about-box .first-part .low-part{
    font-family: monospace;
    font-size: 0.9rem;
}
.about-box .second-part a{
    font-size: 0.9rem;
    display: flex;
    gap: 4px;
    color: black;
    text-decoration: none;
}
.live-edit-settings{
    padding: 0px 8px;
    margin-bottom: 16px;
}
.live-edit-settings .settings{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.live-edit-settings .setting:last-child{
    border-bottom: none;
}

/* main-page */
.main-page{
    padding: 8px;
}
.main-page nav{
    color: var(--nav-text);
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.main-page .second-part button{
    color: var(--nav-text);
    background-color: transparent;
    border: none;
}
.main-page main{
    margin-top: 16px;
}
.analytics-box{
    display: flex;
    gap: 8px;
    justify-content: center
}
.analytics-box > div{
    background-color: var(--settings-boxes);
    padding: 12px 16px;
    border-radius: 6px;
    text-align: center;
    border: 1px solid gray;
    color: var(--text-color);
}
.analytics-box .number{
    font-weight: bold;
}
.analytics-box .description{
    font-size: 0.9rem;
    font-family: monospace;
    color: var(--low-text);
}
.main-page .inspect-page{
    margin: 16px 0px;
}
.main-page .inspect-page button{
    border: 2px solid gray;
    width: 100%;
    text-align: center;
    padding: 8px;
    background-color: transparent;
    border-radius: 6px;
    color: var(--text-color);
    cursor: pointer;
    margin-bottom: 4px;
}
.main-page .inspect-page .description{
    color: var(--low-text);
    font-size: 0.9rem;
    text-align: center;
}
.main-page .options{
    background-color: var(--settings-boxes);
    border-radius: 6px;
    border: 1px solid gray;
    margin-bottom: 16px;
}
.main-page .options > div{
    border-bottom: 1px solid gray;
    padding: 8px 16px;
}
.main-page .options span{
    display: inline-block;
}
.main-page .options button{
    color: var(--text-color);
    border: none;
    cursor: pointer;
    background: transparent;
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
}
.main-page .options > div:last-child{
    border: none;
}
.footer .socials{
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly;
}
.footer .socials a{
    text-decoration: none;
    color: var(--text-color);
}

/* export-scripts */
.export-scripts{
    padding: 8px;
}
.export-scripts nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.export-scripts nav .first-part{
    display: flex;
    gap: 16px;
}
.export-scripts nav .first-part p{
    font-weight: bold;
}
.export-scripts nav .first-part button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.export-scripts nav .second-part button{
    padding: 8px;
    background-color: var(--button-bg);
    color: var(--nav-text);
    border-radius: 4px;
    border: none;
}
.export-options{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.export-options > div{
    display: flex;
    gap: 32px;
    align-items: center;
}
.export-options > div > button{
    background-color: var(--button-bg);
    color: var(--nav-text);
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.export-options > div > div{
    width: 150px;
}
.dashboard header{
    background-color: var(--button-bg);
    color: var(--nav-text);
    padding: 32px;
    display: flex;
    gap: 8px;
    width: 100%;
}
.dashboard header .made-by{
    position: relative;
    top: 24px;
    left: -24px;
    font-family: monospace;
}
.dashboard header .version-number{
    position: relative;
    top: 32px;
    font-family: monospace;
    left: -28px;
}
.dashboard .socials{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.dashboard header .socials a{
    text-decoration: none;
    color: var(--nav-text);
    display: flex;
    flex-direction: column;
}
.dashboard nav{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dashboard nav .first-part{
    display: flex;
    gap: 8px;
}
.dashboard nav .first-part button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.dashboard nav .first-part p{
    font-weight: bold;
}
.dashboard nav .second-part .green-dot{
    background-color: #39FF14;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
.dashboard nav .second-part{
    display: flex;
    gap: 4px;
    align-items: center;
}
.dashboard nav .second-part .version-number{
    font-family: monospace;
}
.dashboard .dashboard-stats{
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
    justify-content: space-around;
}
.dashboard .dashboard-stat{
    border: 1px solid var(--low-text);
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 6px;
    padding: 6px 8px;
    width: 80px;
    align-items: center;
    color: var(--nav-text);
}
.dashboard-stat .number{
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--text-color);
}
.dashboard-sites .heading{
    font-size: 1rem;
    font-weight: bold;
    color: gray;
}
.dashboard-sites-list{
    padding-left: 8px;
    line-height: 1.5rem;
}
.dashboard-site-row{
    display: flex;
    gap: 8px;
}
.dashboard-quick-options{
    margin-top: 24px;
    display: flex;
    justify-content: space-evenly;
}
.dashboard-quick-options button{
    padding: 6px;
    background-color: var(--hover-panel);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: var(--text-color);
}
.settings-button{
    cursor: pointer;
}
.add-script-page{
    padding: 8px;
    background-color: var(--background);
}
nav{
    color: var(--nav-text);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}
.add-script-page main{
    margin-top: 16px;
}
.add-script-page .add-script-area{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.add-script-area .input-script-details{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.add-script-area .input-script-details label{
    color: gray;
    font-weight: bold;
}
.input-script-details input[type="text"] {
    padding: 8px 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--settings-boxes);
    background-color: var(--settings-boxes);
    color: var(--nav-text);
}
.input-script-details select{
    padding: 8px 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid gray;
    background-color: var(--settings-boxes);
    color: var(--nav-text);
    cursor: pointer;
}
.input-script-details textarea{
    padding: 8px 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--settings-boxes);
    background-color: var(--settings-boxes);
    color: var(--nav-text);
    resize: none;
}
.input-script-details textarea:focus{
    border: 1px solid gray;
}
.input-script-details input[type="text"]:focus{
    border: 1px solid gray;
}
.add-script-area button{
    display: block;
    width: 100%;
    padding: 8px 16px;
    background-color: var(--background);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-radius: 8px;
    cursor: pointer;
    margin: 4px 0px;
}
.input-script-details .type-option{
    position: relative;
}
.input-script-details .circle{
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: var(--ring-color);
    right: 4px;
    top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.input-script-details .circle svg{
    width: 12px;
    height: 12px;
    stroke: var(--background);
}
.input-script-details .toggle_on .circle{
    visibility: visible;
}
.single-script-name{
    color: gray;
    font-family: monospace;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 4px;
}
.single-script-meta{
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}
.single-script-actions{
    margin-left: 12px;
    overflow: hidden;
    display: flex;
    margin-top: 8px;
    gap: 12px;
}
.single-script-actions button{
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    background-color: var(--hover-panel);
    border: 1px solid gray;
    color: var(--nav-text);
}
#running-scripts-list, #all-scripts-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.scripts-list-empty{
    margin: 48px auto;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: monospace;
}
.scripts-list{
    margin-top: 24px;
}
.settings-overlay{
    position: fixed;
    width: 400px;
    height: 600px;
    background-color: rgb(11, 11, 18, 0.5);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.clear-confirm{
    margin: auto;
    min-height: 160px;
    width: 85%;
    background-color: var(--hover-panel);
    padding: 30px 25px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.options-clear{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.options-clear button {
    /* display: inline-block; */
    width: 40%;
    padding: 8px 2px;
    border: 1px solid var(--button-bg);
    color: var(--text-color);
    border-radius: 6px;
    cursor: pointer;
}
.confirm-clear{
    background-color: var(--button-bg);
}
.cancel-clear{
    background-color: transparent;
}
.settings-page{
    position: relative;
}
.running-scripts-page, .all-scripts-page, .dashboard main{
    padding: 8px;
}
.scripts-settings{
    padding: 0px 8px;
}
.about-section{
    padding: 0px 8px 8px 8px;
}
.export-scripts .export-status{
    margin-bottom: 24px;
    margin-top: 4px;
}
.export-scripts .drive-backup{
    margin-top: 16px;
}
.export-scripts .low-part{
    color: var(--low-text);
    font-size: 0.8rem;
    margin-top: 2px;
    font-family: monospace;
}
.drive-account-text{
    margin: 16px auto;
}
.drive-account-status{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.drive-account-status button{
    background-color: transparent;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.drive-backup-actions{
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
    gap: 6px;
}
.drive-backup-actions button{
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
}
.drive-backup .heading{
    font-weight: bold;
}
.drive-status{
    font-size: 0.9rem;
    font-family: monospace;
    margin-top: 12px;
}